<div class="nested-fields">
  <div class="field">
    <%= f.label :user_id %>
    <%= f.select(:user_id, @users.collect {|u| [u.full_name, u.id]}, prompt: 'Select') %>
  </div>
  <%= link_to_remove_association "remove user", f %>
</div>